[submodule "tests/libs/Celero/Celero"]
	path = tests/libs/Celero/Celero
	url = https://github.com/DigitalInBlue/Celero
[submodule "production/libs/spdlog/spdlog"]
	path = production/libs/spdlog/spdlog
	url = https://github.com/gabime/spdlog
