[submodule "tests/libs/Celero/Celero"]
	path = tests/libs/Celero/Celero
	url = https://github.com/DigitalInBlue/Celero
[submodule "production/libs/spdlog/spdlog"]
	path = production/libs/spdlog/spdlog
	url = https://github.com/gabime/spdlog
[submodule "buildsystem/CMake/ucm"]
	path = buildsystem/CMake/ucm
	url = https://github.com/onqtam/ucm
[submodule "production/libs/hyperscan/hyperscan"]
	path = production/libs/hyperscan/hyperscan
	url = https://github.com/intel/hyperscan.git
[submodule "2017-11-01"]
	path = production/libs/re2/re2
	url = https://github.com/google/re2.git
[submodule "v1.5.5"]
	path = production/libs/nana/nana
	url = https://github.com/cnjinhao/nana.git
[submodule "v1.8.0"]
	path = production/libs/lz4/lz4
	url = https://github.com/lz4/lz4.git
[submodule "tests/libs/turtle/turtle"]
	path = tests/libs/turtle/turtle
	url = https://github.com/mat007/turtle.git
[submodule "v2.0"]
	path = production/libs/lizard/lizard
	url = https://github.com/inikep/lizard.git
[submodule "production/libs/lz4/lz4"]
	path = production/libs/lz4/lz4
	url = https://github.com/lz4/lz4.git
